<p>
  <strong>Question:</strong>
  <%= @question.question_text  %>
</p>

<p>
  <strong>answer a)</strong>
  <%= @question.answer_a %>
</p>

<p>
  <strong>answer b)</strong>
  <%= @question.answer_b %>
</p>

<p>
  <strong>answer c)</strong>
  <%= @question.answer_c %>
</p>

<p>
  <strong>answer d)</strong>
  <%= @question.answer_d %>
</p>

<p>
  <strong>correct answer</strong>
  <%= @question.correct_answer %>
</p>

<%= link_to 'Back', questions_path %>
